<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBh7sPFPTd8cMf8AC9MvzsUKMtzK5z-ilQ</string>
	<key>GCM_SENDER_ID</key>
	<string>583225051699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-authentication-smit</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-authentication-smit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583225051699:ios:fd946d79a39733eb03b146</string>
</dict>
</plist>